/**  Mixins */
/*------------------------------------*\
    breakpoint vars
\*------------------------------------*/
/*------------------------------------*\
    breakpoint mixin
\*------------------------------------*/
/** Global **/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  width: 100%;
  margin: 0 auto; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #6096C4;
  text-decoration: none; }
  a:hover {
    opacity: .8; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0;
  padding: 0; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

:root {
  --white: #ffffff;
  --black: #000000;
  --black-light: #191919;
  --gray: #F5F5F5;
  --green: #36B426;
  --yellow: #F5CF00;
  --blue-light: #459FF7;
  --primary: #0068D0;
  --second: #36B426;
  --red: #D02C2C;
  --text-body: #191919;
  --radius: 10px; }

/* Base Setting
---------------------------------------- */
body {
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  font-size: 17px;
  overflow-wrap: break-word;
  font-weight: 400;
  color: var(--text-body);
  overflow-x: hidden;
  line-height: 2;
  position: relative;
  width: 100%;
  background: var(--white);
  max-width: 100%; }

a {
  transition: all 0.3s;
  color: var(--primary);
  outline: none !important; }
  a:hover {
    opacity: 0.7; }

h1,
h2,
h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: var(--primary);
  line-height: 1.5; }

h4 h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  color: var(--primary); }

h1 {
  font-size: 2.375rem; }
  @media (min-width: 48em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2.375rem; }
  @media (min-width: 48em) {
    h2 {
      font-size: 3rem; } }

h3 {
  font-size: 1.625rem; }
  @media (min-width: 48em) {
    h3 {
      font-size: 2rem; } }

h4 {
  font-size: 1.5rem; }
  @media (min-width: 48em) {
    h4 {
      font-size: 1.75rem; } }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

img {
  max-width: 100%;
  vertical-align: bottom; }

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="search"],
textarea,
select {
  border: 2px solid #CCCCCC;
  background: transparent;
  padding: 5px 15px;
  line-height: 26px;
  outline: none !important;
  width: 100%; }

.btn,
.elementor-button,
.btn-contact,
button,
input[type="button"],
input[type="submit"] {
  font-size: 1.125rem;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: var(--white);
  letter-spacing: 1px;
  background: #F69931;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  padding: 5px 15px; }

.btn-contact {
  min-width: 250px; }

ul {
  padding-left: 20px; }

#wpadminbar {
  position: fixed;
  top: 0; }

.elementor-shortcode label {
  width: 100%;
  font-weight: 400; }

.elementor-shortcode p {
  margin-bottom: 0; }

.header {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .header .container {
    display: flex;
    justify-content: flex-start; }
    @media only screen and (max-width: 767px) {
      .header .container {
        justify-content: center; } }
    @media only screen and (max-width: 600px) {
      .header .container figure {
        max-width: 240px;
        padding: 10px; } }

.footer {
  padding-block: 60px;
  background: url(../images/footerback.jpeg) no-repeat center;
  background-size: cover; }
  @media only screen and (min-width: 890px) {
    .footer .container {
      display: flex; } }
  .footer__widget {
    width: 100%;
    color: #fff; }
    @media only screen and (min-width: 890px) {
      .footer__widget {
        max-width: calc(33.33%); } }

/** Pages */
