@charset "UTF-8";

:root {
  --white: #ffffff;
  --black: #000000;
  --black-light: #191919;
  --gray: #F5F5F5;
  --green: #36B426;
  --yellow: #F5CF00;
  --blue-light: #459FF7;
  --primary: #0068D0;
  --second: #36B426;
  --red: #D02C2C;
  --text-body: #191919;
  --radius: 10px;
}

$primary-font: 'Titillium Web', sans-serif;
$second-font: $primary-font;

/* Base Setting
---------------------------------------- */
body {
  padding: 0;
  font-family: $primary-font;
  margin: 0;
  font-size: 17px;
  overflow-wrap: break-word;
  font-weight: 400;
  color: var(--text-body);
  overflow-x: hidden;
  line-height: 2;
  position: relative;
  width: 100%;
  background: var(--white);
  max-width: 100%;
}

a {
  transition: all 0.3s;
  color: var(--primary);
  outline: none !important;

  &:hover {
    opacity: 0.7;
  }
}

h1,
h2,
h3 {
  font-family: $second-font;
  font-weight: 700;
  color: var(--primary);
  line-height: 1.5;
}

h4
h5,
h6 {
  font-family: $primary-font;
  font-weight: 500;
  color: var(--primary);
}

h1 {
  font-size: rem(38px);

  @include breakpoint(tablet) {
    font-size: rem(64px);
  }
}

h2 {
  font-size: rem(38px);

  @include breakpoint(tablet) {
    font-size: rem(48px);
  }
}

h3 {
  font-size: rem(26px);

  @include breakpoint(tablet) {
    font-size: rem(32px);
  }
}

h4 {
  font-size: rem(24px);

  @include breakpoint(tablet) {
    font-size: rem(28px);
  }
}

h5 {
  font-size: rem(20px);
}

h6 {
  font-size: rem(16px);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
