.footer {
  padding-block: 60px;
  background: url(../images/footerback.jpeg) no-repeat center;
  background-size: cover;

  .container {
    @include breakpoint(890px) {
      display: flex;
    }
  }

  &__widget {
    width: 100%;
    color: #fff;

    @include breakpoint(890px) {
      max-width: calc(33.33%);
    }
  }
}