%container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="search"],
textarea,
select {
  border: 2px solid #CCCCCC;
  background: transparent;
  padding: 5px 15px;
  line-height: 26px;
  outline: none !important;
  width: 100%;
}

.btn,
.elementor-button,
.btn-contact,
button,
input[type="button"],
input[type="submit"] {
  font-size: rem(18px);
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: var(--white);
  letter-spacing: 1px;
  background: #F69931;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  padding: 5px 15px;
}

.btn-contact {
  min-width: 250px;
}

.container {
  @extend %container;
}

ul {
  padding-left: 20px;
}

#wpadminbar {
  position: fixed;
  top: 0;
}

.elementor-shortcode {
  label {
    width: 100%;
    font-weight: 400;
  }

  p {
    margin-bottom: 0;
  }
}

