.header {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0 , .23);

  .container {
    display: flex;
    justify-content: flex-start;

    @include breakpoint-down(767px) {
      justify-content: center;
    }

    figure {
      @include breakpoint-down(600px) {
        max-width: 240px;
        padding: 10px;
      }
    }
  }
}